DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

### Application FrontEnd
NEXT_PUBLIC_APP_URL=

### Application BackEnd
NEXT_PUBLIC_RP_ID=
NEXT_PUBLIC_RP_ORIGIN=
APP_SESSION_COOKIE_NAME=

### Development (override for local dev machine hostname)
NEXT_PUBLIC_DEV_HOSTNAME=